<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.IInvoiceDAO">

    <resultMap type="com.example.demo.entity.InvoiceInfo" id="InvoiceInfoMap">
        <result column="FPQQLSH" property="fpqqlsh"/>
        <result column="XSF_NSRSBH" property="xsfNSRSBH"/>
        <result column="XSF_MC" property="xsfMC"/>
        <result column="GMF_MC" property="gmfMC"/>
        <result column="JSHJ" property="jshj"/>
        <collection property="detailList" ofType="com.example.demo.entity.InvoiceDetail">
            <result column="XMMC" property="xmmc"/>
            <result column="XMJSHJ" property="xmjshj"/>
            <result column="SL" property="sl"/>
            <result column="SPBM" property="spbm"/>
        </collection>
    </resultMap>

    <!--插入发票头-->
    <insert id="insertInvoiceHeader" parameterType="com.example.demo.entity.InvoiceInfo">
        INSERT INTO
        invoice_header(`FPQQLSH`, `XSF_NSRSBH`, `XSF_MC`, `GMF_MC`, `JSHJ`)
        VALUES (#{fpqqlsh}, #{xsfNSRSBH}, #{xsfMC}, #{gmfMC}, #{jshj});
    </insert>

    <!--插入发票明细-->
    <insert id="insertInvoiceDetail" parameterType="java.util.List">
        INSERT INTO
        invoice_detail(`XMMC`, `XMJSHJ`, `SL`, `SPBM`, `FPQQLSH`)
        VALUES
        <foreach collection="detail" item="detail" separator=",">
            (#{detail.xmmc}, #{detail.xmjshj}, #{detail.sl}, #{detail.spbm}, #{detail.fpqqlsh})
        </foreach>
    </insert>

    <!--修改发票信息-->
    <update id="updateInvoiceInfo">
        UPDATE
        invoice_header
        <set>
            <if test="fpqqlsh != null">
                FPQQLSH = #{fpqqlsh},
            </if>
            <if test="xsfNSRSBH != null">
                XSF_NSRSBH = #{xsfNSRSBH},
            </if>
            <if test="xsfMC != null">
                XSF_MC = #{xsfMC},
            </if>
            <if test="gmfMC != null">
                GMF_MC = #{gmfMC},
            </if>
            <if test="jshj != null">
                JSGJ = #{jshj},
            </if>
        </set>
        WHERE
        FPQQLSH = #{fpqqlsh};
    </update>

    <!--根据发票请求流水号删除发票信息-->
    <delete id="deleteInvoiceInfo">
        DELETE FROM
        invoice_header
        WHERE
        FPQQLSH = #{fpqqlsh};
    </delete>

    <!--根据发票请求流水号查询发票信息-->
    <select id="queryInvoiceInfo" resultMap="InvoiceInfoMap">
        SELECT
        header.FPQQLSH,header.XSF_NSRSBH,header.XSF_MC,header.GMF_MC,header.JSHJ,
        detail.XMMC,detail.XMJSHJ,detail.SL,detail.SPBM
        FROM
        invoice_header header
        INNER JOIN
        invoice_detail detail
        ON
        header.FPQQLSH=detail.FPQQLSH
        WHERE
        header.FPQQLSH=#{fpqqlsh};
    </select>

</mapper>

